Repository hossameldinmi/core_fe: changes, and which Codecov flags are due for each by the changed paths.
All: core_fe_dart, core_fe_flutter, core_fe_infrastructure, core_fe_presentation

codecov.yml:

# https://docs.codecov.io/docs/commit-status
codecov:
  token: "75237020-1d90-42f1-93fe-3be75bc792e7"
  require_ci_to_pass: yes
  bot: "codecov-io"
  ci:
    - "github.org"
    - "dev.azure.com"
  notify:
    after_n_builds: 2
    wait_for_ci: yes
    
coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  behavior: default
  require_changes: no
 
flags: 
  core_fe_dart:
    paths:
      - ./core_fe_dart
  core_fe_flutter:
    paths:
        - ./core_fe_flutter
  core_fe_infrastructure:
    paths:
        - ./core_fe_infrastructure
  core_fe_presentation:
    paths:
        - ./core_fe_presentation

TimeInDay and TimeSlot changes, unit tests, minor refactor
  core_fe_dart/lib/src/extensions/date_time_extensions.dart
  core_fe_dart/lib/src/extensions/validation_extensions.dart
  core_fe_dart/lib/src/models/time_in_day.dart
  core_fe_dart/lib/src/models/time_slot.dart
  core_fe_dart/test/extensions/date_time_extensions_test.dart
  core_fe_dart/test/extensions/duration_test.dart
  core_fe_dart/test/models/time_in_day_test.dart
  core_fe_dart/test/models/time_slot_test.dart
  core_fe_dart/test/validations/validation_rules/is_valid_phone_number_rule_test.dart
Due: core_fe_dart

codecov .yaml edit
  codecov.yml
Due: none

Feature/utils (#16)
  .github/workflows/core_fe_status.yml
  codecov.yml
  core_fe_dart/lib/exceptions.dart
  core_fe_dart/lib/extensions.dart
  core_fe_dart/lib/models.dart
  core_fe_dart/lib/src/exceptions/domain_exception.dart
  core_fe_dart/lib/src/extensions/date_time_extensions.dart
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/lib/src/extensions/validation_extensions.dart
  core_fe_dart/lib/src/models/time_in_day.dart
  core_fe_dart/lib/src/models/time_slot.dart
  core_fe_dart/lib/src/validations/validation_commands/phone_number_validation_command.dart
  core_fe_dart/lib/src/validations/validation_commands/required_validation_command.dart
  core_fe_dart/lib/src/validations/validation_rules/is_regex_matched_rule.dart
  core_fe_dart/lib/src/validations/validator_object.dart
  core_fe_dart/test/extensions/date_time_extensions_test.dart
  core_fe_dart/test/extensions/duration_test.dart
  core_fe_dart/test/models/time_in_day_test.dart
  core_fe_dart/test/models/time_slot_test.dart
  core_fe_dart/test/validations/validation_commands/phone_number_validation_command_test.dart
  core_fe_dart/test/validations/validation_commands/required_validation_command_test.dart
  core_fe_dart/test/validations/validation_rules/is_valid_phone_number_rule_test.dart
  core_fe_infrastructure/lib/src/interfaces/rest_network.dart
Due: core_fe_dart, core_fe_infrastructure

remve unnessary prints
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
Due: core_fe_dart

codecov fix try
  codecov.yml
Due: none

codecov try
  codecov.yml
Due: none

codecov yaml try
  .github/workflows/core_fe_status.yml
  codecov.yml
Due: none

codecov.yaml change
  codecov.yml
Due: none

test codecov changes (#17)
  .github/workflows/core_fe_status.yml
  codecov.yml
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
Due: core_fe_dart

codecov.yaml update
  codecov.yml
Due: none

codecov update
  codecov.yml
Due: none

codecov (#19)
  codecov.yml
Due: none

codecov (#20)
  codecov.yml
Due: none

Develop (#18)
  .github/workflows/core_fe_status.yml
  codecov.yml
  core_fe_dart/lib/exceptions.dart
  core_fe_dart/lib/extensions.dart
  core_fe_dart/lib/models.dart
  core_fe_dart/lib/src/exceptions/domain_exception.dart
  core_fe_dart/lib/src/extensions/date_time_extensions.dart
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/lib/src/extensions/stream_extensions.dart
  core_fe_dart/lib/src/extensions/validation_extensions.dart
  core_fe_dart/lib/src/models/time_in_day.dart
  core_fe_dart/lib/src/models/time_slot.dart
  core_fe_dart/lib/src/validations/validation_command_base.dart
  core_fe_dart/lib/src/validations/validation_commands/phone_number_validation_command.dart
  core_fe_dart/lib/src/validations/validation_commands/required_validation_command.dart
  core_fe_dart/lib/src/validations/validation_rules/is_regex_matched_rule.dart
  core_fe_dart/lib/src/validations/validator_object.dart
  core_fe_dart/lib/validations.dart
  core_fe_dart/test/extensions/date_time_extensions_test.dart
  core_fe_dart/test/extensions/duration_test.dart
  core_fe_dart/test/mocks/validations.dart
  core_fe_dart/test/models/time_in_day_test.dart
  core_fe_dart/test/models/time_slot_test.dart
  core_fe_dart/test/validations/validatable_object_test.dart
  core_fe_dart/test/validations/validation_commands/phone_number_validation_command_test.dart
  core_fe_dart/test/validations/validation_commands/required_validation_command_test.dart
  core_fe_dart/test/validations/validation_commands/validation_command_base_test.dart
  core_fe_dart/test/validations/validation_rules/is_valid_phone_number_rule_test.dart
  core_fe_dart/test/validations/validator_object_test.dart
  core_fe_flutter/lib/src/enums/language.dart
  core_fe_flutter/lib/src/utils/base_factory.dart
  core_fe_infrastructure/lib/core_fe_infrastructure.dart
  core_fe_infrastructure/lib/src/providers/sembast_storage_provider_impl.dart
  core_fe_infrastructure/pubspec.yaml
  core_fe_presentation/lib/src/services/navigation_service_impl.dart
  core_fe_presentation/lib/src/state/BasePageState.dart
  core_fe_presentation/lib/src/state/base_state.dart
Due: core_fe_dart, core_fe_flutter, core_fe_infrastructure, core_fe_presentation

codecov.yaml remove flags
  codecov.yml
Due: none

revert last 2 commits changes
  codecov.yml
Due: none

github core_fe_status.yaml update
  .github/workflows/core_fe_status.yml
Due: none

StreamList extensions, Iterable Extensions tests
  core_fe_dart/lib/src/extensions/stream_extensions.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
Due: core_fe_dart

delegates_extensions, timeInDay toString update
  core_fe_dart/lib/extensions.dart
  core_fe_dart/lib/src/extensions/delegates_extensions.dart
  core_fe_dart/lib/src/models/time_in_day.dart
Due: core_fe_dart

reactive ValidatorObject
  core_fe_dart/lib/src/validations/validator_object.dart
Due: core_fe_dart

split options to request and response options, remove jsonFactory, jsonUtil,
  core_fe_infrastructure/lib/enums.dart
  core_fe_infrastructure/lib/models.dart
  core_fe_infrastructure/lib/providers.dart
  core_fe_infrastructure/lib/src/interfaces/http_network.dart
  core_fe_infrastructure/lib/src/interfaces/noSql_storage.dart
  core_fe_infrastructure/lib/src/managers/http_network_manager_impl.dart
  core_fe_infrastructure/lib/src/managers/noSql_storage_manager_impl.dart
  core_fe_infrastructure/lib/src/models/http_response.dart
  core_fe_infrastructure/lib/src/models/request_options.dart
  core_fe_infrastructure/lib/src/models/response_options.dart
  core_fe_infrastructure/lib/src/models/storage_model.dart
  core_fe_infrastructure/lib/src/providers/http_provider.dart
  core_fe_infrastructure/lib/src/providers/json_model_factory.dart
  core_fe_infrastructure/lib/src/providers/sembast_storage_provider_impl.dart
  core_fe_infrastructure/lib/src/utils/dio_helper.dart
  core_fe_infrastructure/lib/src/utils/json_util.dart
  core_fe_infrastructure/lib/utils.dart
  core_fe_infrastructure/test/assets/image.png
  core_fe_infrastructure/test/core_fe_infrastructure.dart
  core_fe_infrastructure/test/managers/http_network_manager_impl_test.dart
  core_fe_infrastructure/test/mocks/providers_mocks.dart
  core_fe_infrastructure/test/models/response_options_test.dart
  core_fe_infrastructure/test/models/storage_model_test.dart
  core_fe_infrastructure/test/providers/http_provider_test.dart
  core_fe_infrastructure/test/providers/json_util_test.dart
  core_fe_infrastructure/test/providers/storage_provider_test.dart
  core_fe_infrastructure/test/utils/dio_helper_test.dart
Due: core_fe_infrastructure

locator rafacor, remove headers from BaseResponse,
  core_fe_flutter/lib/src/utils/locator.dart
  core_fe_infrastructure/lib/core_fe_infrastructure.dart
  core_fe_infrastructure/lib/providers.dart
  core_fe_infrastructure/lib/src/managers/noSql_storage_manager_impl.dart
  core_fe_infrastructure/lib/src/providers/settings_provider_impl.dart
  core_fe_infrastructure/test/models/response_options_test.dart
  core_fe_infrastructure/test/providers/http_provider_test.dart
  core_fe_infrastructure/test/providers/settings_provider_test.dart
  core_fe_infrastructure/test/providers/storage_provider_test.dart
  core_fe_presentation/lib/core_fe_presentation.dart
  core_fe_presentation/lib/src/state/state_provider.dart
  core_fe_presentation/lib/src/state/view_model_provider.dart
  core_fe_presentation/lib/src/widget/route_generator.dart
  core_fe_presentation/lib/state.dart
  core_fe_presentation/lib/test_lib/mocks/initer.dart
  core_fe_presentation/lib/test_lib/mocks/my_app.dart
Due: core_fe_flutter, core_fe_infrastructure, core_fe_presentation

navigation service minor changes.
  core_fe_presentation/lib/core_fe_presentation.dart
  core_fe_presentation/lib/src/interfaces/navigation_service.dart
  core_fe_presentation/lib/src/services/navigation_service_impl.dart
  core_fe_presentation/lib/test_lib/mocks/initer.dart
  core_fe_presentation/lib/test_lib/navigation_service_test.dart
Due: core_fe_presentation

rename equals extension method
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
Due: core_fe_dart

rename equals extension method
  core_fe_infrastructure/lib/src/models/storage_model.dart
Due: core_fe_infrastructure

logging, navigation service, future extensions,email and price validations, validation results, unit tests enhancement
  core_fe_dart/lib/src/extensions/future_extensions.dart
  core_fe_dart/lib/src/extensions/string_utils_extensions.dart
  core_fe_dart/lib/src/utils/logger.dart
  core_fe_dart/lib/src/utils/resource_manager.dart
  core_fe_dart/lib/src/validations/validation_commands/email_validation_command.dart
  core_fe_dart/lib/src/validations/validation_commands/price_validation_command.dart
  core_fe_dart/lib/src/validations/validation_rule.dart
  core_fe_dart/lib/src/validations/validation_rules/is_valid_email_rule.dart
  core_fe_dart/lib/src/validations/validation_rules/is_valid_price_rule.dart
  core_fe_dart/lib/src/validations/validator_object.dart
  core_fe_dart/lib/validations.dart
  core_fe_dart/pubspec.yaml
  core_fe_dart/test/extensions/duration_test.dart
  core_fe_dart/test/extensions/string_utils_extensions_test.dart
  core_fe_dart/test/mocks/validations.dart
  core_fe_dart/test/validations/validation_rules/is_valid_price_rule_test.dart
  core_fe_dart/test/validations/validator_object_test.dart
  core_fe_flutter/lib/src/enums/language.dart
  core_fe_flutter/lib/src/utils/base_factory.dart
  core_fe_flutter/lib/src/utils/locator.dart
  core_fe_flutter/lib/src/utils/pretty_printer_logger_impl.dart
  core_fe_flutter/lib/utils.dart
  core_fe_flutter/pubspec.yaml
  core_fe_flutter/test/enums/language_test.dart
  core_fe_infrastructure/lib/utils.dart
  core_fe_infrastructure/pubspec.yaml
  core_fe_infrastructure/test/mocks/providers_mocks.dart
  core_fe_presentation/lib/src/state/page_view_model_base.dart
  core_fe_presentation/lib/src/state/view_model_provider.dart
  core_fe_presentation/lib/src/utils/route_util.dart
  core_fe_presentation/lib/src/widget/hex_color.dart
  core_fe_presentation/lib/utils.dart
  core_fe_presentation/lib/widget.dart
Due: core_fe_dart, core_fe_flutter, core_fe_infrastructure, core_fe_presentation

update yaml
  core_fe_flutter/pubspec.yaml
  core_fe_infrastructure/pubspec.yaml
  core_fe_presentation/pubspec.yaml
Due: core_fe_flutter, core_fe_infrastructure, core_fe_presentation

fix pipeline task name, test file asset,
  .github/workflows/core_fe_status.yml
  core_fe_flutter/test/enums/date_time_format_test.dart
  core_fe_flutter/test/enums/language_test.dart
  core_fe_infrastructure/test/mocks/providers_mocks.dart
  core_fe_infrastructure/test/providers/http_provider_test.dart
  core_fe_infrastructure/test/shared.dart
  core_fe_infrastructure/test/utils/dio_helper_test.dart
Due: core_fe_flutter, core_fe_infrastructure

remove pub get tasks form pipeline
  .github/workflows/core_fe_status.yml
Due: none

fixting linting issues
  core_fe_infrastructure/test/managers/http_network_manager_impl_test.dart
  core_fe_infrastructure/test/utils/dio_helper_test.dart
Due: core_fe_infrastructure

fix linting issues
  core_fe_infrastructure/test/shared.dart
Due: core_fe_infrastructure

stream wait, index map
  core_fe_dart/lib/core_fe_dart.dart
  core_fe_dart/lib/models.dart
  core_fe_dart/lib/src/extensions/future_extensions.dart
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/lib/src/models/async_snapshot.dart
  core_fe_dart/test/extensions/future_extensions_test.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
  core_fe_dart/test/mocks/models.dart
  core_fe_dart/test/models/async_snapshot_test.dart
  core_fe_flutter/lib/core_fe_flutter.dart
  core_fe_flutter/test/utils_test/logger_test.dart
  core_fe_infrastructure/lib/core_fe_infrastructure.dart
  core_fe_infrastructure/test/shared.dart
  core_fe_presentation/lib/core_fe_presentation.dart
Due: core_fe_dart, core_fe_flutter, core_fe_infrastructure, core_fe_presentation

fix yaml packages conflects
  core_fe_dart/pubspec.yaml
Due: core_fe_dart

using catchError instead of onError
  core_fe_dart/lib/src/extensions/future_extensions.dart
Due: core_fe_dart

object/map extentions, Exceptions, logger
  core_fe_dart/lib/exceptions.dart
  core_fe_dart/lib/extensions.dart
  core_fe_dart/lib/src/exceptions/domain_exceptions_handler.dart
  core_fe_dart/lib/src/exceptions/operation_exception.dart
  core_fe_dart/lib/src/exceptions/validation_exception.dart
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/lib/src/extensions/map_extensions.dart
  core_fe_dart/lib/src/extensions/object_extensions.dart
  core_fe_dart/lib/src/extensions/stream_extensions.dart
  core_fe_dart/lib/src/utils/logger.dart
  core_fe_dart/test/extensions/future_extensions_test.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
  core_fe_dart/test/extensions/map_extensions_test.dart
  core_fe_dart/test/extensions/object_extensions_test.dart
Due: core_fe_dart

object/map extentions, Exceptions, logger
  core_fe_dart/lib/exceptions.dart
  core_fe_dart/lib/extensions.dart
  core_fe_dart/lib/src/exceptions/domain_exceptions_handler.dart
  core_fe_dart/lib/src/exceptions/operation_exception.dart
  core_fe_dart/lib/src/exceptions/validation_exception.dart
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/lib/src/extensions/map_extensions.dart
  core_fe_dart/lib/src/extensions/object_extensions.dart
  core_fe_dart/lib/src/extensions/stream_extensions.dart
  core_fe_dart/lib/src/utils/logger.dart
  core_fe_dart/test/extensions/future_extensions_test.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
  core_fe_dart/test/extensions/map_extensions_test.dart
  core_fe_dart/test/extensions/object_extensions_test.dart
  core_fe_flutter/lib/src/utils/pretty_printer_logger_impl.dart
Due: core_fe_dart, core_fe_flutter
