Repository hossameldinmi/core_fe: changes, and which Codecov flags are due for each by the changed paths.
All: core_fe_dart, core_fe_flutter, core_fe_presentation, core_fe_infrastructure

skip future_extensions_test
  core_fe_dart/test/extensions/future_extensions_test.dart
Due: core_fe_dart

fix linting issue
  core_fe_dart/lib/src/extensions/future_extensions.dart
Due: core_fe_dart

fix linting issues
  core_fe_infrastructure/lib/src/providers/http_provider.dart
  core_fe_infrastructure/test/providers/http_provider_test.dart
Due: core_fe_infrastructure

core_fe_dart version and test passing
  core_fe_dart/lib/src/validations/validation_rules/is_not_null_empty_or_whitespace_rule.dart
  core_fe_dart/lib/src/validations/validation_rules/is_not_null_rule.dart
  core_fe_dart/lib/src/validations/validator_object.dart
  core_fe_dart/pubspec.yaml
  core_fe_dart/test/validations/validation_commands/required_validation_command_test.dart
Due: core_fe_dart

core_fe_flutter migration and update version
  core_fe_flutter/lib/src/enums/date_time_format.dart
  core_fe_flutter/lib/src/enums/language.dart
  core_fe_flutter/lib/src/extensions/date_time_extensions.dart
  core_fe_flutter/lib/src/models/types.dart
  core_fe_flutter/lib/src/utils/locator.dart
  core_fe_flutter/lib/src/utils/pretty_printer_logger_impl.dart
  core_fe_flutter/pubspec.yaml
  core_fe_flutter/test/extensions/date_time_format_test.dart
Due: core_fe_flutter

liniting issues
  core_fe_infrastructure/lib/src/utils/dio_helper.dart
  core_fe_infrastructure/test/managers/noSql_storage_manager_test.dart
  core_fe_infrastructure/test/providers/http_provider_test.dart
Due: core_fe_infrastructure

skipping files
  core_fe_infrastructure/test/managers/noSql_storage_manager_test.dart
  core_fe_infrastructure/test/providers/http_provider_test.dart
Due: core_fe_infrastructure

core_fe_presentation
  core_fe_presentation/lib/core_fe_presentation.dart
  core_fe_presentation/lib/src/interfaces/navigation_service.dart
  core_fe_presentation/lib/src/services/navigation_service_impl.dart
  core_fe_presentation/lib/src/state/base_state.dart
  core_fe_presentation/lib/src/state/navigation_args.dart
  core_fe_presentation/lib/src/state/view_model_base.dart
  core_fe_presentation/lib/src/state/view_model_provider.dart
  core_fe_presentation/lib/src/utils/route_util.dart
  core_fe_presentation/lib/src/widget/route_generator.dart
  core_fe_presentation/lib/test_lib/navigation_service_test.dart
  core_fe_presentation/lib/tests.dart
  core_fe_presentation/pubspec.yaml
  core_fe_presentation/test/mocks/initer.dart
  core_fe_presentation/test/mocks/mocks.dart
  core_fe_presentation/test/mocks/my_app.dart
  core_fe_presentation/test/mocks/page1.dart
  core_fe_presentation/test/test_lib/navigation_service_test.dart
Due: core_fe_presentation

changing linting package
  core_fe_dart/analysis_options.yaml
  core_fe_dart/lib/src/extensions/stream_extensions.dart
  core_fe_dart/lib/src/models/async_snapshot.dart
  core_fe_dart/lib/src/models/time_slot.dart
  core_fe_dart/lib/src/validations/validation_rules/is_not_null_rule.dart
  core_fe_dart/pubspec.yaml
  core_fe_dart/test/extensions/date_time_extensions_test.dart
  core_fe_dart/test/extensions/duration_test.dart
  core_fe_dart/test/extensions/future_extensions_test.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
  core_fe_dart/test/extensions/map_extensions_test.dart
  core_fe_dart/test/extensions/object_extensions_test.dart
  core_fe_dart/test/models/time_in_day_test.dart
  core_fe_dart/test/models/time_slot_test.dart
  core_fe_flutter/analysis_options.yaml
  core_fe_flutter/pubspec.yaml
  core_fe_infrastructure/analysis_options.yaml
  core_fe_infrastructure/pubspec.yaml
  core_fe_presentation/analysis_options.yaml
  core_fe_presentation/pubspec.yaml
Due: core_fe_dart, core_fe_flutter, core_fe_presentation, core_fe_infrastructure

fixing linting issues
  core_fe_flutter/lib/src/enums/language.dart
  core_fe_flutter/lib/src/extensions/date_time_extensions.dart
  core_fe_flutter/lib/src/utils/pretty_printer_logger_impl.dart
  core_fe_flutter/test/enums/language_test.dart
  core_fe_flutter/test/extensions/date_time_format_test.dart
  core_fe_infrastructure/lib/core_fe_infrastructure.dart
  core_fe_infrastructure/lib/interfaces.dart
  core_fe_infrastructure/lib/managers.dart
  core_fe_infrastructure/lib/src/interfaces/no_sql_storage.dart
  core_fe_infrastructure/lib/src/managers/no_sql_storage_manager_impl.dart
  core_fe_infrastructure/lib/src/models/base_response.dart
  core_fe_infrastructure/lib/src/models/http_response.dart
  core_fe_infrastructure/lib/src/models/json_model.dart
  core_fe_infrastructure/lib/src/models/response_options.dart
  core_fe_infrastructure/lib/src/models/settings.dart
  core_fe_infrastructure/lib/src/models/storage_model.dart
  core_fe_infrastructure/lib/src/providers/http_provider.dart
  core_fe_infrastructure/lib/src/providers/sembast_storage_provider_impl.dart
  core_fe_infrastructure/lib/src/providers/session_provider.dart
  core_fe_infrastructure/lib/src/providers/settings_provider_impl.dart
  core_fe_infrastructure/test/managers/http_network_manager_impl_test.dart
  core_fe_infrastructure/test/managers/no_sql_storage_manager_test.dart
  core_fe_infrastructure/test/managers/session_manager_test.dart
  core_fe_infrastructure/test/managers/settings_manager_test.dart
  core_fe_infrastructure/test/mocks/models_mocks.dart
  core_fe_infrastructure/test/models/response_options_test.dart
  core_fe_infrastructure/test/models/settings_test.dart
  core_fe_infrastructure/test/models/storage_model_test.dart
  core_fe_infrastructure/test/models/user_session_test.dart
  core_fe_infrastructure/test/providers/session_provider_test.dart
  core_fe_infrastructure/test/providers/settings_provider_test.dart
  core_fe_infrastructure/test/utils/dio_helper_test.dart
  core_fe_infrastructure/test/utils/http_helper_test.dart
  core_fe_presentation/lib/src/interfaces/exception_manager.dart
  core_fe_presentation/lib/src/state/base_page_state.dart
  core_fe_presentation/lib/src/state/navigation_args.dart
  core_fe_presentation/test/mocks/my_app.dart
  core_fe_presentation/test/mocks/page1.dart
Due: core_fe_flutter, core_fe_presentation, core_fe_infrastructure

fixing migration iterable extensions
  core_fe_dart/lib/src/extensions/iterable_extensions.dart
  core_fe_dart/test/extensions/iterable_extensions_test.dart
Due: core_fe_dart

migration fix in map extensions
  core_fe_dart/lib/src/extensions/map_extensions.dart
Due: core_fe_dart

enable future_extensions_tests
  core_fe_dart/test/extensions/future_extensions_test.dart
Due: core_fe_dart

migration fix in stream extensions
  core_fe_dart/lib/src/extensions/stream_extensions.dart
Due: core_fe_dart

Path conditions:
  core_fe_dart: any of: core_fe_dart
  core_fe_flutter: any of: core_fe_flutter
  core_fe_presentation: any of: core_fe_presentation/
  core_fe_infrastructure: any of: core_fe_infrastructure/
